<!DOCTYPE HTML>
<html lang=en-US>
  <head>
    <title>Bayes classifier</title>
    <meta charset=UTF-8>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$","$"],["\(","\)"]]}
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/2.2-latest/MathJax.js?config=TeX-AMS_HTML"></script>
  </head>
  <body>

    <p> The Bayes classifier is the best possible classifier. Predicts each $y$
    as being a member of whatever class is most likely given the prior data.
    This is obvious, almost a tautology. If conditional distribution of $Y$
    given $X$ is known, then Bayes classifier is the best option. However
    generall it is not know, thus the distribution must be estimated.</p> 

  </body>
</html>
