<DOCTYPE html>
<html>
<head>
  <title>Computer Languages</title>
</head>
<body>

  This page is a hodge-podge of loosely organized stuff I come across that is
  somewhat related to computer languages.

  <h1>Elements of language</h1>
    
    <p>
      There are many ideas used in the descriptions of languages. I have heard
      most of them, and often have a vague idea as to what they mean, but usually
      can't rigorously explain them. This page is an attempt to gather and
      describe them.
    </p>

    <p>
      They are presented in no particular order.
    </p>

      <h2>Type Checking</h2>

        <p>
          See the first sentences of the wikipedia article:
          <a href=https://en.wikipedia.org/wiki/Type_system>type system</a>.
        </p>

        <p>
          Type systems can get really deep:
          <a href=https://en.wikipedia.org/wiki/Type_theory>type theory</a>.
        </p>


  <h1>Exotic languages</h1>

    <p>

    Here I am collecting a list of exotic but interesting languages. Many of
    these are things I would like to study in the future. Most are probably not
    *useful*.

    </p>

    <h2>APL - A Programming Language</h2>

      <p>
      The most immediately stricking thing about this language is its use of
      non-ASCII characters.
      </p>

      <p>
      It is an array-oriented language.
      </p>

      <p>
      Everything is processed right-to-left. So, for example, `1 + 2 = 2`
      evaluates to, `1 + 1`, and finally `2`.
      </p>


<body>
</html>
