<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta name="description" content="PNP test with regex" />
        <meta name="author" content="Zebulun Arendsee" />
        <title>PNP test</title>
    </head>

    <body>

        <h1>Regex</h1>

        <h2> forms </h2> 

            <? pnp
                echo "Data processed";
                echo $pattern; 
            ?>

            <form action="" method="post">
                <b>enter text</b><br/>
                <textarea name="text" cols=100 rows=20></textarea><br/>

                <b>enter regex search pattern</b><br/>
                <textarea name="pattern" cols=100 rows=1></textarea><br/>

                <b>enter regex replacement pattern</b><br/>
                <textarea name="replacement" cols=100 rows=1></textarea><br/>

                <input type="submit" value="Submit"/>
                <input type="hidden" name="Submitted" value="True" />
            </form>
    </body>
</html>
