{% extends "base.html" %}

{% block content %}

  Much of the Flask code I use here is based on the examples in <a
  href=http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world>Miguel
  Grinberg's tutorial</a>.

  <h1>Test</h1>
    <a href=https://github.com/arendsee title='where it all starts' target='_self'>github page (in current window)</a>
    <br>
    <a href=https://github.com/arendsee title='where it all starts' target='_blank'>github page (in new tab)</a>
    <br>
    <a href=https://github.com/arendsee title='where it all starts' target='_top'>github page (whatever top is)</a>
    <br>
    <a href="{{ url_for('rants') }}" title='rants against buffalo'>rants</a>
    <br>
    <a href="{{ url_for('login') }}" title='login'>flask login form</a>
    <br>
    <a href="{{ url_for('tables') }}" title='table page'>tables</a>
    <br>
    <a href="{{ url_for('machine_learning__index') }}">machine learning</a>
    <br>
    <a href="{{ url_for('computer_languages__index') }}">computer languages</a>
    <br>
    <a href="{{ url_for('systems_biology__index') }}">systems biology</a>
    <br>
    <a href="{{ url_for('math') }}">math and latex</a>
    <br>
    <p id=unique>This is a unique paragraph</p>
    <p id=unique>This is a unique paragraph</p>
    <hr>
    <p>Here is a render I made in Blender</p>
    <img src=/static/basketbottle.png alt=/static/HTML5_Logo.png style="width:720px;height:486px" title='basket bottle'>
    <!-- div and span delimit blocks; they often are used to confer style or class -->
    <div style="color:green">
      This is a <span style="color:red">red</span> word in a green paragraph
    </div>
  <h2>Layout tests</h2>
    <a href="{{ url_for('layout01') }}">layout example 1</a>
    <a href="{{ url_for('class_vs_id') }}">Class versus id</a>
    <a href="{{ url_for('iframe') }}">iframe example</a>
{% endblock %}
