body {
    width:100%;
    background-color:white;
    color:maroon;
}

h1 {
    color:indigo
}

p {
    border:1px solid black;
    padding:10px;
    margin:20px;
}

p#unique {
    border:1px solid maroon;
    padding:10px;
    margin:50px;
    color:brown;
}

a:link    {color:darkgreen; background-color:transparent; text-decoration:none}
a:visited {color:maroon; background-color:transparent; text-decoration:none}
a:hover   {color:yellow; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    color: black
}
td {
    text-align: left
}
th {
    text-align: center 
}
table {
    border: 2px solid black;
    border-spacing: 10px
}

div.equation {
    background-color:white
}
