<DOCTYPE HTML>
<html>

<head>
    <title>Tables</title>    
    <meta charset=UTF-8>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <table border=1 style="width:100%">
      <caption>This is a caption</caption>
      <tr>
        <th>Class</td>
        <th>Thing</td> 
        <th>Number</td>
      </tr>
      <tr>
        <td>Deadmen</td>
        <td rowspan=2>Tales</td> 
        <td>5</td>
      </tr>
      <tr>
        <td>Grateful Dead</td>
        <td>2</td>
      </tr>
    </table>

</body>

</html>
